# MongoDB Atlas or local connection
MONGODB_URI=mongodb+srv://rodrigotgranada_db_user:TavaresG1@ecpelotas.fgl4oi5.mongodb.net/?appName=ecpelotas

# JWT settings
JWT_SECRET=EcPelotas1908@
JWT_EXPIRES_IN=1d
